body {
  color: #101828;
 
  font-family: 'Inter', sans-serif;
  text-align: center;
}

/* PROFILE */

.profile-body{
  background: #f4f5f7;
}

.profile img {
  padding-top: 20px;
  width:200px;
  height:200px;
  border-radius:50%;
}

.profile {
  text-align: center;
}

.profile h2 {
  font-size: 18px;
}

.vector {
  position: relative;
  left: 42%;
  top: 30px;
}

.vector:hover {
  width: 45px;
}

.vector2 {
  display: none;
}

.slack {
  display: none;
}

/* BUTTONS */

.btns {
  display: flex;
  flex-direction: column;
  align-items: center !important;
  text-align: center;

}

.btns button {
  width: 80%;
  padding: 24px 32px 24px 32px;
  margin-top: 20px;
  background: #eaecf0;
  border: none;
  border-radius: 7px;
}

.btns button:hover {
  background: rgb(204, 202, 202);
}

button a {
  text-decoration: none;
  color: #101828;
  font-size: 14px;
  font-weight: 500;
  margin: 10px;
}

/* ICONS */

.icons img {
  margin: 30px 20px;
  text-align: center;
}

.icons img:hover {
  width: 25px;
}

/* FOOTER */

footer {
  margin: 40px 0px 10px 30px;
  text-align: left;
}

.footer {
  padding: 20px 0px;
}


footer img {
  width: 110px;
}


footer p {
  color: #667085;
  font-weight: 400;
  font-size: 14px;
}

.ingressive {
  margin-top: 30px;
}


@media screen and (min-width:678px) {

  /* PROFILE */
  .profile {
    padding-top: 30px;
  }

  .profile h2 {
    font-size: 20px;
  }

  .vector {
    display: none;
  }

  .vector2 {
    display: block;
    position: relative;
    left: 73%;
    top: 80px;
    width: 35px;
  }

  .vector2:hover {
    width: 38px;
  }

  /* BUTTONS */

  button a {
    font-size: 18px;
  }

  footer {
    margin: 40px 0px 20px 30px;
  }

  hr {
    margin-bottom: 20px;
  }

  /* ICONS */
  .icons img {
    margin-bottom: 40px;
  }


  /* FOOTER */

  .footer {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
    align-items: center;
  }

  .zuri img {
    width: 130px;
    height: 20px;
  }

  .ingressive img {
    width: 130px;
    height: 30px;
  }

  footer p {
    font-size: 16px;
  }

}